<%- include('partials/header') -%>
<div class="container">
  <h1><%=titles %></h1>
  <hr />
  <img src="<%= gambar %>" alt="" />

  <hr />
  <p>Penulis : <%= penulis %></p>
  <p>Penerbit : <%= penerbit %></p>
  <p>Tentang Buku ini : <%=contents %></p>
</div>
